.home-banner {
    color: rgb(0, 18, 103);
    font-weight: 500;
    padding-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}

.home-banner h1 {
    font-weight: 400;
}

.banner-desc {
    font-size: 23px;
}

